/*@xianfei 2016/6/22 @deac:hg-index-desc css start*/

/*common start*/
* {
	font-family: "Microsoft Yahei";
}

/*common end*/

/**head start*/
.head {
	color: width:100%;
	height: 300px;
	background-image: url("../img/homedesc/com/head.png");
}
.head p {
	width: 100%;
	text-align: center;
	height: 100%;
	padding-top: 111px;
}

/*head end*/

/*content start*/
.content {
	width: 100%;
	background: #fff;
}
#navigate {
	height: 180px;
}
#navigate img {
	display: block;
	margin: 0 auto;
}
#navigate a {
	display: block;
	width: 69px;
	height: 30px;
	padding-top: 15px;
	text-align: center;
	color: #454545;
	margin-top: 54px;
}
#navigate .nav-home {
	float: left;
	width: 69px;
	margin-left: 24%;
	line-height: 5px;
}
#navigate .nav {
	float: left;
	width: 69px;
	margin-left: 4%;
	line-height: 5px;
}
#navigate .nav-1 {
	margin-left: 17%;
}
#navigate .nav-active {
	border-bottom: 3px solid #48deb2;
}
.news {
	width: 100%;
	height: 200px;
	background-color: red;
}
.compInfo {
	width: 100%;
	height: 200px;
	background-color: yellow;
}
.joinUs {
	width: 100%;
	height: 200px;
	background-color: orange;
}
.productCategory {
	width: 100%;
	background-color: #fff;
}
.successCase {
	width: 100%;
	height: 200px;
	background-color: blue;
}
.detailInfo {
	width: 100%;
	height: 200px;
	background-color: orange;
}
.titile {
	width: 100%;
}
.titile p {
	text-align: center;
	color: #6E6E6E;
	font-family: "Microsoft Yahei";
	font-size: 18px;
}
.titile .title-one {
	letter-spacing: 2px;
	margin-top: 12px;
	font-size: 40px;
}
.titile .title-two {
	margin-top: 11px;
	letter-spacing: 8px;
}
.titile  img {
	margin: 0 auto;
	display: block;
}
.productImg {
	width: 100%;
}
.productImg img {
	display: block;
	margin: 0 auto;
	margin-top: 133px;
	margin-bottom: 94px;
	width: 750px;
}

/*content end*/

/*footer start*/
.footer {
	background: #201F25;
	width: 100%;
}
.bot {
	font-family: "Microsoft YaHei";
	font-size: 18px;
	color: #757575;
	width: 100%;
}
.bot-li-text {
	color: #a7a7a7;
	font-size: 12px;
	line-height: 1.2;
	margin-top: 18px;
}
.bot-head {
	font-size: 18px;
	color: #a7a7a7;
	line-height: 1.2;
}
.bot-ul {
	padding: 40px 20% 0 20%;
	position: relative;
	height: 139px;
}
.bot-li1 {
	position: absolute;
	left: 20%;
}
.bot-li2 {
	position: absolute;
	left: 40%;
}
.bot-li3 {
	position: absolute;
	left: 60%;
}
.bot-li4 {
	position: absolute;
	left: 80%;
}
.bot-ul a {
}
.bot-bot {
	font-family: "Microsoft YaHei";
	line-height: 1.2;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #757575;
}

/*footer end*/

/*@xianfei 2016/6/22 @deac:hg-index-desc css start*/