/*@xianfei 2016/6/22 @deac:hg-index-desc css start*/

/*common start*/

/*common end*/
/**head start*/
#head{
	width: 100%;
	height: 535px;
}

#head img{
	width: 100%;
	height: 535px;
}

/*head end*/

/*body start*/
/*body end*/


/*footer start*/
/*footer end*/



/*@xianfei 2016/6/22 @deac:hg-index-desc css start*/