/*简单reset*/
* {
	margin: 0;
	padding: 0;
	font-family: "microsoft yahei";
}

/*必须，关系到单个page能否全屏显示*/
html, body {
	height: 100%;
	overflow: hidden;
}
#container, .sections, .section {

	/*必须，兼容，在浏览器不支持transform属性时，通过改变top/left完成滑动动画*/
	position: relative;            /*必须，关系到单个page能否全屏显示*/
	height: 100%;
}
.section {

	/*有背景图时必须，关系到背景图能够全屏显示*/
	background-color: transparent;
	background-size: cover;
	background-position-y: 36px;
}

/*非必需，只是用来设置背景图，id不会被插件用到*/
#section0 {
	background-image: url(../img/icon/first-pic.jpg);
}
#section1 {
	background-image: url(../img/icon/img2.jpg);
}
#section2 {
	background-image: url(../img/icon/img3.jpg);
	background-position-y: -18%;
}
#section3 {
	background-image: url(../img/icon/img4.jpg);
}
#section4 {
	background-image: url(../img/icon/img5.jpg);
}
#section5 {
	background-image: url(../img/icon/img6.jpg);
}

/*以下样式用来设置slider样式，可自行修改*/
.pages {
	position: fixed;
	right: 10px;
	top: 38%;
	list-style: none;
}
.pages li {
	width: 20px;
	height: 20px;
	background: #fff;
	margin: 12px 0 0 7px;
	background: url(../img/icon/i-active.png) no-repeat;
	cursor: pointer;
	position: relative;
	background-position-x: 2px;
}
.pages .last_li {
	width: 20px;
	height: 37px;
	background: #fff;
	margin: 12px 0 0 7px;
	background: url(../img/icon/mouse-active.png) no-repeat;
	cursor: pointer;
	position: relative;
}
.pages li.active {
	margin-left: 3px;
	width: 30px;
	height: 30px;
	background: url(../img/icon/active.png) no-repeat;
	background-position-x: 2px;
}
.pages li .bo-l {
	width: 2px;
	height: 18px;
	background: url(../img/line.png) no-repeat;
	position: absolute;
	bottom: -14px;
	left: 43%;
}
#header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 56px;
	background: url(../img/top-pic.png) no-repeat;
	z-index: 100;
}
#headerX {
	position: fixed;
	top: 0;
	width: 100%;
	height: 56px;
	background: #fff;
	z-index: 100;
}
.header-wrap {
	width: 100%;
	height: 100%;
}
.pure {
	position: relative;
}
.box {
	position: relative;
	height: 100%;
	margin: 0 auto;
	line-height: 56px;
}
.box-l {
	margin-left: 17%;
	float: left;
	width: 104px;
	margin-top: 9px;
}
.box-l img {
	width: 100%;
}
.box-l-X {
	margin-left: 17%;
	float: left;
	width: 104px;
	margin-top: 16px;
	margin-bottom: 15px;
}
.box-2-X {
	margin: 19px 0px 22px 14px;
	float: left;
}
.box-l-X img {
	width: 100%;
}
.box-r {
	float: right;
	color: #fff;
    margin-right: 17%;
	line-height: 67px;
}
.go-index {
	position: relative;
	display: block;
	float: left;
	margin-left: 54px;
	font-size: 14px;
	overflow: visible;
}
.product-advantage {
	margin-left: 56px;
}
.integral-cloud {
	margin-left: 68px;
}
#header1 a {
	color: #fff;
}
#header2 a {
	color: #565656;
}
a {
	text-decoration: none;
}
img {
	border: none;
}
.content-one, .content-two, .content-three, .content-four, .content-five, .content-six {
	margin: 0 auto;
	height: 100%;
	width: 80%;
}
.content-one-content, .content-two-content, .content-three-content, .content-five-content, .content-six-content {
	position: relative;
	width: 100%;
	height: 100%;
	top: 56px;
}
.content-four-content {
	width: 97%;
	height: 400px;
    margin: 220px auto;
    padding-top: 142px;
}
.tp101 {
	width: 50%;
	float: left;
}
.tip {
	width: 76%;
}
.tip img {
	position: fixed;
	top: 40%;
	left: 20%;
}
.tip2 {
	width: 86%;
	margin-top: 6%;
	margin: 6% auto 0 auto;
}
.tip2 img {
	width: 100%;
}
.help-bar {
	position: fixed;
	bottom: 0;
}
.help-bar-content {
	width: 1250px;
	margin: 0 auto;
}
.content-two-content {
	margin-top: 163px;
}
.title-one {
	color: #6E6E6E;
	font-size: 40px;
	font-family: "microsoft yahei light";
	letter-spacing: 2px;
	text-align: center;
	margin-top: 12px;
}
.section2-line {
	display: block;
	margin: 0 auto;
}
.title-two {
	color: #6E6E6E;
	font-size: 18px;
	font-family: "microsoft yahei light";
	letter-spacing: 8px;
	text-align: center;
	margin-top: 11px;
}
.content-two-box {
	position: relative;
	margin: 0 auto;
	margin-top: 4%;
	overflow: hidden;
}
.content-two-box .active {
	color: #48DEB2;
}
.cbox {
	float: left;
	width: 19%;
	height: 304px;
	margin-right: 4%;
}
.cbox img {
	display: block;
	margin-top: 32px;
	width: 63%;
}
.cbox * {
	margin: 0 auto;
	text-align: center;
}
.cont1-text {
	font-size: 22px;
	color: #6E6E6E;
	margin-top: 32px;
	font-family: "microsoft yahei light";
}
.know_more {
	font-size: 16px;
	font-size: 16px;
	color: #4CDFB4;
	font-family: "microsoft yahei Regular";
	width: 16%;
	height: 48px;
	text-align: center;
	line-height: 45px;
	border: 1px solid #4CDFB4;
	-moz-border-radius: 15px;      /* Gecko browsers */
	-webkit-border-radius: 15px;   /* Webkit browsers */
	border-radius: 15px;            /* W3C syntax */
	margin: -9px auto;
}
.tp102 {
	width: 50%;
	float: left;
}
.tip3 {
	width: 90%;
}
.tip3 img {
	position: absolute;
	left: -126px;
	top: 344px;
}
.tip5 {
	border: 1px solid #48DEB2;
	color: #48DEB2;
	font-size: 16px;
	text-align: center;
	width: 126px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	top: 520px;
	left: -123px;
}
.tip5 img {
	width: 100%;
}
.brand {
	position: relative;
}
.brand .brand-list-one {
	width: 20%;
	float: left;
	height: 80px;
}
.brand .brand-list-one img {
	display: block;
	margin: 0 auto;
}
.brand-wrap {
	overflow: hidden;
	width: 93%;
	margin: 0 auto;
	padding-top: 28px;
}
.brand-one, .brand-two {
	overflow: hidden;
	width: 100%;
}
.bot {
	position: absolute;
	width: 100%;
	height: 180px;
	bottom: 0;
}
.bot-ul {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	padding-top: 40px;
}
.bot-li {
	width: 25%;
	float: left;
	font-size: 14px;
	color: #fff;
	text-align: left;
}
.bot-li-text {
	margin-bottom: 12px;
	text-indent: 36%;
	font-size: 12px;
}
.bot-head {
	font-size: 18px;
}
.bot-ul a {
	color: #fff;
}
.drop-ul {
	position: absolute;
	min-width: 90px;
	color: #fff;
	top: 56px;
	font-size: 14px;
	padding-left: 16px;
	z-index: 100;
	background: rgba(0, 0, 0, 0.3);
	display: none;
}
.drop-li {
	line-height: 46px;
}
.drop-ul-2 {
	position: absolute;
	min-width: 90px;
	color: #fff;
	top: 56px;
	font-size: 14px;
	padding-left: 16px;
	z-index: 100;
	background: #f0f0f0;
	color: #565656;
	display: none;
}
.drop-li-2 {
	line-height: 46px;
}
.more-info {
	position: fixed;
	width: 20px;
	height: 13px;
	background: url(../img/icon/more.png) no-repeat;
	top: 94px;
	right: 30px;
}
.tp102_title {
	color: #fff;
	font-size: 37px;
	position: absolute;
	left: -129px;
	top: 225px;
}
.content_four_part_4 {
	width: 100%;
	margin-top: 41px;
	text-align: center;
	font-family: "microsoft yahei light";
	font-size: 13px;
}
.content_four_part_4 p {
	color: #6E6E6E;
}
.content_four_part_4 .cont_title {
	margin-top: 40px;
	font-size: 28px;
	color: #6E6E6E;
}
.content_four_part_4 .active {
	color: #48DEB2;
}
.content_four_part_4 img {
	margin-top: 66px;
	margin-bottom: 50px;
}
.content_four_part_4 .cont {
	width: 201px;
	height: 352px;
	margin-right: 3%;
	border: 1px solid #48DEB2;
	float: left;
}
.margin_right_20 {
	margin-right: 20px;
}
.float_left {
	float: left;
}
.last_part_left {
	margin-right: 4%;
}
.last_part_line {
	margin-right: 5%;
	margin-top: 4%;
}
.last_part_cont {
	overflow: hidden;
	margin-top: 88px;
}
.last_part_right {
	width: 41%;
}
.last_part_right p {
	font-size: 16px;
	color: #fff;
	font-family: "microsoft yahei light";
}
.last_right_inline_left {
	width: 26px;
	height: 37px;
}
.last_right_cont {
	width: 100%;
	height: 48px;
	margin-bottom: 8%;
}
.last_part_right  img {
	height: 78%;
	margin-top: 4px;
}
.last_right_inline_right {
	margin-left: 12%;
}
.bot-bot {
	display: none;
	position: fixed;
	bottom: 2px;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #757575;
	font-family: "microsoft yahei light";
}
.brand-list-mid {
	width: 100%;
	margin: 20px 0;
}
.brand-list-mid img {
	width: 100%;
	margin: 0 auto;
	display: block;
}